<h1 mat-dialog-title>{{accion}}</h1>
<div mat-dialog-content>
    <form [formGroup]="libroForm">
    <div class="form-group">
    <label for="isbn">ISBN</label>
    <input type="text" class="form-control" name="isbn" placeholder="Ingresa ISBN" formControlName="isbn">
    </div>
    <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" class="form-control" name="title" placeholder="Ingresa Titulo" formControlName="title">
        </div>
    <div class="form-group">
        <label for="author">Autor</label>
        <input type="text" class="form-control" name="author" placeholder="Ingresa Autor" formControlName="author">
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea class="form-control" formControlName="description" name="description">
            </textarea>
            </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input type="number" class="form-control" name="price" placeholder="Ingresa Precio" formControlName="price">
            </div>
            <div class="form-group">
                <label for="image">Portada</label>
                <input type="text" class="form-control" name="image" placeholder="Ingresa url" formControlName="image">
                </div>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="agregarLibro()" >{{ accionBtn }}</button>
</div>