<h1 mat-dialog-title>{{ accion }}</h1>
<div mat-dialog-content>
    <form [formGroup]="usuarioForm">
    
        <div class="form-group">
            <label for="userName">Usuario</label>
            <input type="text" class="form-control" name="userName" placeholder="Ingresa Nombre de usuario" formControlName="userName">
            </div>

        <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="text" class="form-control" name="password" placeholder="Ingresa Contraseña" formControlName="password">
    </div>
    
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Ingresa Email" formControlName="email">
        </div>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="agregarUsuario()" >{{ accionBtn }}</button>
</div>
