@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
  .example-spacer {
    flex: 1 1 auto;
  }

  .button-header {
      margin-left: 1%;
  }

  .login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 14.28%;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .portada {
    width: 80px;
    height: 80px;
  }