<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Gestionar usuarios</span>
    <span class="example-spacer"></span>
    <button class="button-header" mat-raised-button color="warn" (click)="generarReporte()">Generar reporte Excel</button>
    <button  class="button-header" mat-raised-button color="warn"  (click)="openDialog()" >Agregar usuario</button>
  </mat-toolbar>

  <div class="container">
    <div style="margin-top: 10px;">
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
       
          <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
            <td mat-cell *matCellDef="let row">{{row.usuario}} </td>
          </ng-container>
      
         
          <ng-container matColumnDef="Contraseña">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contraseña</th>
            <td mat-cell *matCellDef="let row"> {{row.contrasena}} </td>
          </ng-container>
      
      
          <ng-container matColumnDef="Correo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>
      

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acción</th>
            <td mat-cell *matCellDef="let row"> 
              <button mat-icon-button color="warn" (click)="editarUsuario(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="borrarUsuario(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay usuarios "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>

